.profile-container {
    margin-top: 1em;
    align-items: center;
}

.header-img {
    max-width: 50%;
    border-radius: 50%;
    border: 10px solid #f44336;
    background-color: white;
}

.profile-user {
    text-align: center;
    margin: .5em  0 1em 0;
}

.profile-user h1 {
    font-size: 2em;
    color: #f44336;
}

.profile-user p {
    font-size: .8em;
}

.profile-bio {
    text-align: center;
}

.profile-bio b {
    font-size: 1em;
}

.profile-status {
    display: flex;
    justify-content: space-around;
}

.profile-status li {
    display: flex;
    flex-direction: column-reverse;
    text-align: center;
    padding: 1em;
}

/* Tablet */
@media only screen and (min-device-width: 768px) and (max-device-width: 1024px) and (-webkit-min-device-pixel-ratio: 1) {
    .profile-container {
        width: 50%;
    }

    .header-img {
        max-width: 50%;
    }
}

/* Lg. Tablet */
@media screen and (min-device-width: 992px) and (max-device-width: 1199px) and (-webkit-min-device-pixel-ratio: 1) {
    .profile-container {
        width: 40%;
    }
}

/* Lg. Screen */
@media screen and (min-device-width: 1200px) and (-webkit-min-device-pixel-ratio: 1) {
    .profile-container {
        width: 25%;
        margin-top: 1em;
    }

    .header-img {
        max-width: 60%;
    }
}