.btn {
    background-color: #f44336;
    color: white;
    border: none;
    font-size: 1em;
    font-weight: bold;
    padding: 1em;
    display: flex;
    align-items: center;
    border-radius: 50px;
}

.btn > i {
    margin-right: 10px;
}