.repo-list-header  {
    width: 90%;
    margin: 1em 0;
}

.repo-list-header > h1 {
    text-align: left;
    font-size: 1.2em;
    color: #616161;
    padding-bottom: .5em;
    border-bottom: 1px solid #616161;
}