.card {
    display: flex;
    flex-direction: column;
    background-color: white;
    width: 90%;
    border-radius: 5px;
    margin: 1em;
    word-break: break-word;
}

.card-header,
.card-body {
    padding: 1em;
}

.repo-header h1 {
    font-size: 1.5em;
    margin-bottom: .5em;
}

.repo-header a {
    color: #f44336;
    text-decoration: none;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: space-between;
    overflow: auto;
}

.repo-header i {
    color: #f44336;
    font-size: 1em;
    justify-self: flex-end;
}

.repo-header p {
    font-size: 1.2em;
    overflow: hidden;
}

.repo-info {
    list-style: none;
    display: flex;
    flex-direction: row;
}

.repo-info-item {
   display: flex;
   align-items: stretch;
   margin-right: 1em;
}

.repo-info-item i {
    font-size: 1.5em;
    color: rgba(0, 0, 0, .8);
}

.repo-info-item span {
    margin-left: 5px;
    font-size: 1em;
}

/* Tablet */
@media only screen and (min-device-width: 768px) and (max-device-width: 1024px) and (-webkit-min-device-pixel-ratio: 1) {
    .repo-header h1 {
        font-size: 1.2em;
    }
    
    .repo-header p {
        font-size: 1em;
    }
}

/* Lg. Screen */
@media screen and (min-device-width: 1200px) and (-webkit-min-device-pixel-ratio: 1) {
    .repo-header h1 {
        font-size: 1.2em;
    }
    
    .repo-header p {
        font-size: 1em;
    }
}