.form-container {
    padding: 0 1em;
    margin-bottom: .5em;
}

.form-input{
    background-color: transparent;
    border: none;
    color: black;
    padding: .5em;
    border-radius: 2px;
    font-size: 1em;
}

.form-input:focus {
    border: none;
    outline: none;
}

.form-input::-webkit-input-placeholder,
.form-input::placeholder {
    color: rgba(0,0,0,.5)
}

.input-group {
    display: flex;
    align-content: stretch;
    justify-content: space-between;
    border-bottom: 2px solid #ddd;
    transition: border .25s ease-out;
    font-size: 1.2em;
}

.input-group:focus-within {
    border-bottom: 2px solid black;
}

.form-container > .error {
    font-weight: bold;
}
