.form-input{
    background-color: transparent;
    border: none;
    color: black;
    padding: .5em;
    border-radius: 2px;
    font-size: 1em;
}

.form-input:focus {
    border: none;
    outline: none;
}

.form-input::-webkit-input-placeholder,
.form-input::placeholder {
    color: rgba(0,0,0,.5)
}

.input-group {
    display: flex;
    flex-direction: row;
    align-items: stretch;
    border-bottom: 1px solid rgba(0, 0, 0, .5);
    transition: border .25s ease-out;
    font-size: 1.2em;
}

.input-group:focus-within {
    border-bottom: 2px solid black;
}
