* {
  padding: 0;
  margin: 0;
  font-family: "Poppins", "Verdana", sans-serif;
}

body {
  background-color: #f5f5f5;
}

.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
}

.flex-row {
  flex-direction: row;
}

.navbar-search {
  width: 100%;
  padding: 2em 0;
  /* background-color: #f44336!important; */
  display: flex;
}

.mat-icon {
  font-family: 'Material Icons';
  font-style: normal;
  font-weight: 400;
  font-size: 1.5em;
}

button.mat-icon {
  border: none;
  background-color: transparent;
  padding: .5em;
}